

/*Estilos de index*/
body {margin:0;}

.clsHeader > *{
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.clsMenu {
	background-color: #333;
	width: 100%;
	top: 130px;
	height: 50px;
}

.clsMenu a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.clsMenu a:hover {
	background: #ddd;
	color: black;
}

.clsMain {
	padding: 15px;
	margin-top: 170px;
}

.clsBarra {
	top: 0px;
	height: 30px;
	background-color: rgba(36,78,132);
	text-align: right;
	color: white;
	padding: 5px;
}

.clsBarra > * {
	margin-right: 10px;
}

.clsLogo {
	top: 30px;
	height: 100px;
	background-color: rgba(0,0,0);
	color: rgba(36,78,132);
	padding: 5px;
}
.clsColIzquierda{
    float: left;
    width: 30%;
}
.clsColDerecha{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

}
/*Fin de estilos Index*/

.clsMarcoPregunta{
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	padding-left: 10px;
	border-color: rgb(161, 161, 161);
	width: 90%;
}