<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/estilos.css" />
<script src="static/js/jquery-3.4.1.js"></script>
<script src="static/js/index.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="static/css/estilosLogin.css" />

</head>
<body>

<div class="clsHeader">
	<div class="clsBarra">
		<label>info algo </label>
	</div>

	<div class="clsLogo">
		<h1> Logo Royal Academy </h1>
	</div>

	<div class="clsMenu">
		<div class="clsColIzquierda">
			<a href="/">Inicio</a>
			<a href="/">News</a>
			<a href="/">Contact</a>
		</div>
		<div class="clsColDerecha">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
						Iniciar Sesion</button>
			<!--
				<input id="idTxtUssr" type="text" value="UssrName">
			<input id="idTxtPass" type="password" value="pass">
			<input id="idLogueate" type="button" value="logueate">
			-->		
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-body ">
			<div class="card card-container bodyLogin">
				<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
				<img id="profile-img" class="profile-img-card" src="{{ url_for('static',filename='img/loginIcon.png')}}" />
				<p id="profile-name" class="profile-name-card"></p>
				<form class="form-signin" action="/login" method="POST">
					<span id="reauth-email" class="reauth-email"></span>
					<input type="text" id="idTxtUssr" name="email" class="form-control" placeholder="Email" required autofocus>
					<input id="idTxtPass" type="password" name="password"  class="form-control" placeholder="password" required>
					<div id="remember" class="checkbox">
					</div>
					<button class="btn btn-lg btn-primary btn-block btn-signin" id="idLogueate" type="submit" value="logueate" >Ingresar</button>
				</form><!-- /form -->
				<a href="#" class="forgot-password">
				   Olvidaste tu contraseña?
				</a>
				<div class="clsMain">
		
				</div>
			</div><!-- /card-container -->
		</div>
	</div>
</div>


<div class="clsMain">
	<!-- Button trigger modal -->

  
  <!-- Modal -->
</div>


</body>

</html>