<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="static/js/jquery-3.4.1.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="static/css/estilosLogin.css" />
<link rel="stylesheet" href="static/css/style.css">


<style>
.imag{padding-top:50px !important;}
.present{margin-top: 100px;}
.navar{background: rgba(36,78,132); padding-bottom:20px}
</style>

</head>
<body>

<!-- <div class="clsHeader">
	<div class="clsBarra">
		<label>info algo </label>
	</div>

	<div class="clsLogo">
		<h1> Logo Royal Academy </h1>
	</div>

	<div class="clsMenu">
		<div class="clsColIzquierda">
			<a href="/">Inicio</a>
			<a href="/">News</a>
			<a href="/">Contact</a>
		</div>
		<div class="clsColDerecha">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
						Iniciar Sesion</button>
			
			
		</div>
	</div>
</div>-->		

<!--================ Start Home Banner Area =================-->

<header class="navar">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg ">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="img/logo2.png" alt=""></a>				
				</div>
			</nav>
		</div>
	</header>
<section class="home_banner_area ">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-auto present">
						<div class="banner_content">
							<h3 class="text-uppercase">Hola!</h3>
							<h1 class="text-uppercase">Bienvenido a Royal Academy</h1>
							
						</div>
						<div class="d-flex align-items-center">
								<button class="primary_btn" data-toggle="modal" data-target="#exampleModalLong"><span>Iniciar Sesion</span></button>
							</div>
					</div>
					<div class="col-lg-5 col-md-auto imag">
						<div class="home_right_img imag">
							<img class="" src="{{ url_for('static',filename='img/home-right.png')}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->



<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-body ">
			<div class="card card-container bodyLogin">
				<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
				<img id="profile-img" class="profile-img-card" src="{{ url_for('static',filename='img/loginIcon.png')}}" />
				<p id="profile-name" class="profile-name-card"></p>
				<form class="form-signin" action="/login" method="POST">
					<span id="reauth-email" class="reauth-email"></span>
					<input type="text" id="idTxtUssr" name="email" class="form-control" placeholder="Email" required autofocus>
					<input id="idTxtPass" type="password" name="password"  class="form-control" placeholder="password" required>
					<div id="remember" class="checkbox">
					</div>
					<button class="btn btn-lg btn-primary btn-block btn-signin" id="idLogueate" type="submit" value="logueate" >Ingresar</button>
				</form><!-- /form -->
				
				<div class="clsMain">
		
				</div>
			</div><!-- /card-container -->
		</div>
	</div>
</div>



</body>

</html>