<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/estilos.css" />
<script src="static/js/jquery-3.4.1.js"></script>
<script src="static/js/index.js"></script>
</head>
<body>

<div class="clsHeader">
	<div class="clsBarra">
		<label>info algo bla bla bla</label>
	</div>

	<div class="clsLogo">
		<h1> Logo Royal Academy </h1>
	</div>

	<div class="clsMenu">
		<div class="clsColIzquierda">
			<a href="/">Inicio</a>
			<a href="/">News</a>
			<a href="/">Contact</a>
		</div>
		<div class="clsColDerecha">
			<input id="idTxtUssr" type="text" value="UssrName">
			<input id="idTxtPass" type="password" value="pass">
			<input id="idLogueate" type="button" value="logueate">
		</div>
	</div>
</div>


<div class="clsMain">
	
</div>

</body>
</html>