<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/navbar.css">
<style>
.prueba{
    background: rgba(36,78,132);
}
</style>


</head>
<body>
    
        <div class="d-flex" id="wrapper">

                <!-- Sidebar -->
                <div class="bg-dark border-right" id="sidebar-wrapper">
                  <div class="sidebar-heading text-light bg-dark">Actividades</div>
                  <div class="list-group list-group-flush">
                    <a  class="list-group-item list-group-item-action bg-dark text-light bg-dark" data-toggle="collapse" role="button" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Crear Examen</a>
                    <a  class="list-group-item list-group-item-action bg-dark text-light bg-dark" data-toggle="collapse" role="button" href="#collapseModeloExamen" role="button" aria-expanded="false" aria-controls="collapseModeloExamen">Modelos de examen</a>
                    <a  class="list-group-item list-group-item-action bg-dark text-light bg-dark">Materias</a>
                    <a  class="list-group-item list-group-item-action bg-dark text-light bg-dark">Planilla</a>
                    <a  class="list-group-item list-group-item-action bg-dark text-light bg-dark">Perfil</a>
                    <a  class="list-group-item list-group-item-action bg-dark text-light bg-dark">Cerrar Sesion</a>
                  </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
            
                  <nav class="navbar navbar-expand-lg navbar-light p-3 mb-2  prueba text-white border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
            
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" aria-expanded="false" aria-controls="collapseExample">
                      <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link text-white" href="#">ICONO DEL USUARIO PROFESOR<span class="sr-only">(current)</span></a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                
                    <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                    <div class="container-fluid">
                                            <h1 class="mt-4">Crear  Examen</h1>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel soluta harum iure temporibus? Magnam doloremque suscipit officia, dolore quaerat incidunt quisquam aperiam labore impedit nostrum quae ad ut, consequuntur perferendis.</p>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore nulla, distinctio voluptas officia labore voluptatem repellendus commodi aliquam dignissimos debitis laboriosam asperiores tempore praesentium minus perferendis! Commodi cupiditate deserunt similique.  ID which will toggle the menu when clicked.</p>                     
                                    </div>                        
                            </div>
                    </div>
                    <div class="collapse" id="collapseModeloExamen">
                            <div class="card card-body">
                                    <div class="container-fluid">
                                            <h1 class="mt-4">Modelos de Examen</h1>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel soluta harum iure temporibus? Magnam doloremque suscipit officia, dolore quaerat incidunt quisquam aperiam labore impedit nostrum quae ad ut, consequuntur perferendis.</p>
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore nulla, distinctio voluptas officia labore voluptatem repellendus commodi aliquam dignissimos debitis laboriosam asperiores tempore praesentium minus perferendis! Commodi cupiditate deserunt similique.  ID which will toggle the menu when clicked.</p>                     
                                    </div>                        
                            </div>
                    </div>

                </div>
                <!-- /#page-content-wrapper -->
            
        </div>
              <!-- /#wrapper -->



  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=" crossorigin="anonymous"></script>
  <script rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
      </script>  
</body>
</html>